<h1>Rxjs operators usage examples</h1>

<nav>
  <ul>
    <li>
      <a routerLink="/map">map</a>
    </li>
    <li>
      <a routerLink="/filter">filter</a>
    </li>
    <li>
      <a routerLink="/merge">merge</a>
    </li>
    <li>
      <a routerLink="/debounce-time">debounceTime</a>
    </li>
    <li>
      <a routerLink="/combine-latest">combineLatest</a>
    </li>
    <li>
      <a routerLink="/merge-switch-map">mergeMap and switchMap</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

